<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>NoriID</string>
	<key>CFBundleIdentifier</key>
	<string>com.norigame.noriid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NoriID</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>NoriID Single Login Key</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nori-slk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>NoriID API Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nori-api</string>
			</array>
		</dict>
		<dict>
            <key>CFBundleURLName</key>
            <string>NoriID Request Scheme</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>nori-request</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>NoriID Auth Scheme</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>nori-auth</string>
            </array>
        </dict>
	</array>
</dict>
</plist>

